body, html {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "custom";
    src: url(CAXTON_3.TTF);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#dom-wrapper {
    position: relative;
    z-index: 10;
    text-align: center;
}

#dom-wrapper h1 {
    margin-top: 380px;
    color: #fff;
    opacity: 0.6;
    font-family: "custom";
    font-weight: lighter;
    cursor: pointer;
}