body, html {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "custom";
    src: url(CAXTON_3.TTF);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#dom-wrapper {
    position: relative;
    z-index: 10;
    text-align: center;
}

#iyeism-text {
    position: absolute;
    color: #fff;
    opacity: 0.8;
    font-family: "custom";
    font-weight: lighter;
    font-size: 72px;
    cursor: pointer;
}

#iyeism-text-sub {
    font-size: 24px;
    font-family: "custom";
    font-weight: lighter;
    color: #fff;
}

#iyeism-text-date {
    font-size: 24px;
    font-family: "custom";
    font-weight: lighter;
    color: #fff;
}